{% extends "global/base.html" %}

{% block title %}User Login | {% endblock title %}

{% block content %}
    <div class="main-content center container">
        <h2>User Login</h2>
        {% if request.user.is_authenticated %}
            <div>
                You Are Logged As {{request.user.username}}.
                <form class="inline-form" action="{% url 'authors:logout' %}" method='POST'>
                    {% csrf_token %}
                    If you want to logout
                    <input type="hidden" name="username" value="{{request.user.username}}">
                    <button class="plaintext-button" type="submit">Click Here</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% include 'global/partials/messages.html' %}
    {% include 'global/partials/form.html' %}
{% endblock content %}
